<div class="caixapeg">

    <section  class = "example-section" > 
       <mat-checkbox  class = "example-margin" > Verifique-me! </mat-checkbox > 
         <mat-checkbox  class = "example-margin" [ desativado ]= "true" > Desativado </mat-checkbox > 
          <mat-checkbox  class = "example-margin" > Verifique-me! 2</mat-checkbox > 
            <mat-checkbox  class = "example-margin" [ desativado ]= "true" > Desativado </mat-checkbox > 
              <mat-checkbox  class = "example-margin" > Verifique-me! 3</mat-checkbox > 
                <mat-checkbox  class = "example-margin" [ desativado ]= "true" > Desativado </mat-checkbox > 
                  <mat-checkbox  class = "example-margin" > Verifique-me! 4</mat-checkbox > 
                    <mat-checkbox  class = "example-margin" [ desativado ]= "true" > Desativado </mat-checkbox > 
          </section >

  </div>
