
<div clas="caixa">
  <h1>Como seria o computador ideal para você?</h1>
</div>

  <h2>Nos ajude respondendo essas 6 perguntas para sabermos o que seria melhor para você:</h2>

  <div class="caixapeg">

    <section  class = "example-section" > 
       <mat-checkbox  class = "example-margin" > Verifique-me! </mat-checkbox > 
         <mat-checkbox  class = "example-margin" [ desativado ]= "true" > Desativado </mat-checkbox > 
          <mat-checkbox  class = "example-margin" > Verifique-me! 2</mat-checkbox > 
            <mat-checkbox  class = "example-margin" [ desativado ]= "true" > Desativado </mat-checkbox > 
              <mat-checkbox  class = "example-margin" > Verifique-me! 3</mat-checkbox > 
                <mat-checkbox  class = "example-margin" [ desativado ]= "true" > Desativado </mat-checkbox > 
                  <mat-checkbox  class = "example-margin" > Verifique-me! 4</mat-checkbox > 
                    <mat-checkbox  class = "example-margin" [ desativado ]= "true" > Desativado </mat-checkbox > 
          </section >

  </div>
